In [63]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn as sklearn
import sklearn.model_selection
from sklearn.linear_model import LogisticRegression

In [67]:
df = pd.read_csv("./data/train.csv")

In [6]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [69]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [71]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [20]:
len(df.columns)

12

In [28]:
for col in df.columns:
    print(col, len(set(df[col])))

PassengerId 891
Survived 2
Pclass 3
Name 891
Sex 2
Age 265
SibSp 7
Parch 7
Ticket 681
Fare 248
Cabin 148
Embarked 4

In [83]:
df['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [87]:
df.loc[df['Embarked']=='S', 'S']=1

In [95]:
def formatting_embarked(df):
    dic_embarked = {'S':1, 'C':2, 'Q':3}
    try:
        for e in dic_embarked.keys():
            print(e, dic_embarked[e])
            df.loc[df['Embarked']==e, e]=dic_embarked[e]
    except NameError:
        raise("Embarked is not in df.columns")
    return df

In [96]:
df_format = formatting_embarked(df)

df_format.Embarked.unique()

S 1
C 2
Q 3

array(['S', 'C', 'Q', nan], dtype=object)

In [30]:
df.loc[df['Embarked'].isnull()]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
61,62,1,1,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.0,B28,NaN
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0,B28,NaN

In [40]:
df = df.drop(['Cabin'], axis=1)

In [48]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Embarked'],
      dtype='object')

In [54]:
x_cols = list(df.columns)

x_cols.remove('Survived')

X = df[x_cols]

y = df[['Survived']]

In [60]:
X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(X, y, test_size = 0.4)

In [66]:
model = LogisticRegression()

model.fit(X_train, y_train)

ValueError: could not convert string to float: 'Duane, Mr. Frank'